---

// import {SocialIcons} from "../components/SocialIcons.js";

---

    <footer class="flex justify-center text-black p-4 w-[750px] max-w-[95%] ml-auto mr-auto">
      <nav class="flex justify-between items-center w-full">
        
          <a href="https://www.buymeacoffee.com/sureshkhirwadkar" target="_blank" class="hover:text-blue-600 font-bold cursor-pointer no-underline">
          <p class='font-bold'>buy me a coffee</p>
          </a>
          <div>
        <!-- <SocialIcons /> -->
        <div class="social-wrapper">

        </div>
      
      </div>
      </nav>
    </footer>
