
    <header class="flex justify-center text-black py-4 w-[750px] max-w-[95%] ml-auto mr-auto">
      <nav class="flex justify-between items-center w-full">
        <div class="flex space-x-4">
          <a href="/" class="hover:text-blue-600 font-bold cursor-pointer no-underline">
            <p class='font-bold'>Home</p>
          </a>
          <a href="/blog" class="hover:text-blue-600 font-bold cursor-pointer no-underline">
            <p class='font-bold'>Blog</p>
          </a>
        </div>
        <div>
          <a href="https://www.buymeacoffee.com/sureshkhirwadkar" target="_blank" class="hover:text-blue-600 font-bold cursor-pointer no-underline">
            <p class='font-bold'>buy me a coffee</p>
          </a>
        </div>
      </nav>
    </header>

